@{
    ViewData["Title"] = "Checkout";
}

<h1>Checkout</h1>

<p>Please use Cashapp to complete your order!!! If you use my referal we both get 5 dollars! Also if you're reading this I still need to update my shiz!</p>